
:root {
    /* Accent */
    --accent-bg-color-dark: black;
    --accent-border-color-dark: black;
    --accent-text-color-dark: white;
    --accent-hover-color-dark: black;
    --accent-focus-color-dark: black;
    --accent-active-color-dark: black;

    /* Bg */
    --bg-color-dark: black;

    /* Card */
    --card-bg-color-dark: black;
    --card-border-color-dark: black;
    --card-text-color-dark: white;
    --card-title-color-dark: white;
}